.table_calc_edit {
  border-collapse: collapse;
  border-left: 3px solid rgb(13,184,107)/*#F79361*/;
  border-right: 3px solid rgb(13,184,107);
  border-bottom: 3px solid rgb(13,184,107);
  font-family: "Lucida Grande", sans-serif;
 }
.table_calc_edit caption {
  background: rgb(13,184,107); 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.table_calc_edit td, .table_calc_edit td th {
  padding: 5.5px;
  text-align: center;
}
.table_calc_edit th {
  text-align: left;
  font-size: 10px;
}
.table_calc_edit tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_calc_edit td:last-of-type {
  text-align: center;
}
.table_calc_edit a {
  display: inline-block;
  padding: 5px 10px;
  background: rgb(195, 199, 197);
  box-shadow: 2px 2px 0 0 rgb(146, 150, 148)/*#a22800*/;
  position: relative;
  font-family: "Lucida Grande", sans-serif;
  text-decoration: none;
  color: rgb(45, 48, 47);
}
.table_calc_edit a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}